.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 3.5rem;
    align-items: stretch;
}


.col{
    flex: 1;
}

.box{
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 4px;
}

.target{
    width: 8rem;
    height: 5rem;
}

.yours{
    width: 25rem;
    height: 18rem;
}

.game-container{
    margin-top: 4rem;
}

.counter{
    align-items: right;
}

.select-color{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black;
}

.color-op{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    align-items: center;
}


.select-color.clicked {
    animation: clickAnimation 0.3s ease;
  }

  @keyframes clickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

.colors{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colors-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: stretch;
}

.remove-color{
    display: flex;
    padding: 0 5px;
    background-color: gray;
    height: 0.5rem;
    width: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}

.minus{
    width: 10px;
    height: 2px;
    background: white;
}

#reset{
    padding: 5 10px;
    background-color: rgb(123, 84, 11);
    cursor: pointer;
    border-radius: 3px;
}


@media screen and (max-width: 700px){
    .colors{
        flex-wrap: wrap;
    }

    .select-color{
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
        
    }

    .color-op{
        display: flex;
        flex-direction: row;
        margin-right: 4rem;
    }

    .minus{
        width: 1rem;
        height: 3px;
    }

    .remove-color{
        height: 1rem;
        width: 2rem;
    }
}