{{ define "main" }}
<div>
  <div class="main-cols">
    <div class="main-col main-col-1">
      <div class="title-name">
        <h1>
          {{ .Title }}
          <a class="theme-icon" onclick="setTheme()">
            <span class="dark-mode material-symbols-outlined">
              light_mode
            </span>
            <span class="light-mode material-symbols-outlined">
              dark_mode
            </span>
          </a>
        </h1>
        <p>Clemson, SC 29631, USA</p>
      </div>

      {{ .Content }}

      <!-- <h1>Hi there, 👋 it's krishna</h1> -->
      <div class="intro-content">
        <img
          class="profile-photo"
          src="images/krishna.webp"
          width="250px"
          height="250px"
        />
        <p>
          Hello there, my name is Krishna Panthi. I'm a graduate student and
          research assistant at Clemson University. I have a deep passion for
          learning and problem-solving. I've dabbled in deep reinforcement
          learning, computer vision, time series analysis, software development,
          quantum computing, and high-performance computing. What I like the
          most is writing code and producing results. The best part is I usually
          don't care about the type of programming language used. I've written
          code in Python, C#, JavaScript, TypeScript, C++, Java, SQL, Dart,
          (HTML + CSS), and PHP. That being said, I have most of my experience
          in Python, C#, JavaScript, (HTML + CSS), and SQL. With all these
          experiences, I'm confident that I can work with any modern programming
          language. Additionally, my friends say I've got a good sense of humor.
        </p>

        <p>TL;DR: I enjoy learning, building, and making people laugh.</p>
      </div>

      <p>Reach me out in</p>

      <div class="social-links">
        <a class="dark-mode" href="https://github.com/kp-square"
          ><img class="link-logo" src="images/github-mark-white.png" alt=""
        /></a>
        <a class="light-mode" href="https://github.com/kp-square"
          ><img class="link-logo" src="images/github-mark.png" alt=""
        /></a>
        <a href="https://linkedin.com/in/krishnapanthi"
          ><img class="link-logo" src="images/in-blue.png" alt=""
        /></a>
        <a href="mailto:krishnapd133@gmail.com"
          ><img class="link-logo" src="images/Gmail_Logo.png" alt=""
        /></a>
        <a href="https://www.youtube.com/@krishnapanthi7205"
          ><img class="link-logo" src="images/youtube-mark.png" alt=""
        /></a>
        <a href="https://instagram.com/kp_square"
          ><img class="link-logo" src="images/ig-icon.png" alt=""
        /></a>
      </div>

      <h2>💼 Experience</h2>
      <div class="experience-grid">
        <div class="experience-item">
          <div class="experience-header">
            <a class="no-style" href="http://hydro-informatics-lab.com/"
              >Clemson University: Graduate Researcher </a
            ><span class="arrow">▶</span>
          </div>
          <div class="experience-content">
            <ul>
              <li>
                Developed AquaCrop-Richards, a new crop simulation model that
                integrates the Richards equation AquaCrop. I wrote a numerical
                solver for 1-D Richards Equation. It was solved using finite
                difference method and modified Picard iteration. I also
                implemented Anderson Acceleration to make it converge in fewer
                Picard iterations.
              </li>
              <li>
                There after, I implemented deep reinforcement learning methods
                (PPO, DQN, SLBO) to optimize irrigation to obtain maximum profit
                using the AquaCrop-Richards as the learning environment.
              </li>
              <li>
                I was involved in implementation of HydroQuantum library to do
                quantumm machine learning on hydrology related data. The
                associated paper has been published on Environment Modeling and
                Software Journal.
              </li>
              <li>
                I also created the workshop materials that were presented in
                WaterSoftHack 2025.
              </li>
            </ul>
          </div>
        </div>
        <div class="experience-item">
          <div class="experience-header">
            <a class="no-style" href="https://mutualart.com/"
              >MutualArt: Full stack Developer</a
            >
            <span class="arrow">▶</span>
          </div>
          <div class="experience-content">
            <ul>
              <li>
                I was involved in development of the marking and sales platforms
                that were used for communication with the users. I also
                developed algorithms for matching the users with the appropriate
                consignments.
              </li>
              <li>I implemented tools to track emails using pixel tracking.</li>
              <li>
                I was involved in containerization of the pre-built applications
                for faster deployment. Hence, I've extensive experience with
                Docker.
              </li>
              <li>
                I got experience with multitude of technologies such as AWS,
                GraphQL, Mixpanel, .NET, Vue.js, Vuetify, etc.
              </li>
            </ul>
          </div>
        </div>
        <div class="experience-item">
          <div class="experience-header">
            <a class="no-style" href="https://pensionpro.com"
              >Dolphin Dive Technology: Full Stack Developer</a
            ><span class="arrow">▶</span>
          </div>
          <div class="experience-content">
            <ul>
              <li>
                I was involved in development of PensionPro web. Worked as a
                full stack developer to migrate features from PensionPro desktop
                application to PensionPro web application.
              </li>
              <li>
                Worked to build frontend components with Angular and its'
                material design framework.
              </li>
              <li>
                On the backend side, I was involved in developing API endpoints,
                optimizing stored procedures on MS SQL Server, logging, etc.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h2>🎓 Education</h2>
      <div class="education-grid">
        <div class="education-item">
          <a
            class="no-style"
            href="https://en.wikipedia.org/wiki/Clemson_University"
            >Clemson University: M.S. in Computer Science</a
          >
        </div>
        <div class="education-item">
          <a
            class="no-style"
            href="https://en.wikipedia.org/wiki/Pulchowk_Campus"
            >Pulchowk Campus: B.E. in Computer Engineering</a
          >
        </div>
      </div>
    </div>

    <div class="main-col main-col-2">
      <h2>Documents</h2>
      <div class="resume-grid">
        <!-- <div class="document">
            <a class="no-style resume-link" href="/pdfs/Krishna_Panthi.pdf">Resume</a>
          </div> -->
        <div class="document">
          <a class="no-style resume-link" href="/pdfs/KrishnaPanthi_CV.pdf"
            >Curriculum Vitae (CV)</a
          >
        </div>
      </div>

      <h2>Latest Projects</h2>
      {{ range first 3 (where .Site.RegularPages "Section" "projects") }}
      <article>
        <h5>
          <a class="no-style resume-link" href="{{ .RelPermalink }}"
            >{{ .Title }}</a
          ><i><time>{{ .Date.Format "January 2, 2006" }}</time></i>
        </h5>
        {{ .Summary }}
      </article>
      {{ end }}
    </div>
  </div>
  <h2>Latest Essays</h2>
  {{ range first 3 (where .Site.RegularPages "Section" "essays") }}
  <article>
    <h5>
      <a class="no-style resume-link" href="{{ .RelPermalink }}">{{ .Title }}</a
      ><i><time>{{ .Date.Format "January 2, 2006" }}</time></i>
    </h5>

    {{ .Summary }}
  </article>
  {{ end }}
</div>
{{ end }}
