{{ define "main" }}
<div>
  <div class="main-cols">
    <div class="main-col main-col-1">
      <div class="title-name">
        <h1>{{ .Title }}  <a class="theme-icon" onclick="setTheme()">
        <span class="dark-mode material-symbols-outlined"> light_mode </span>
        <span class="light-mode material-symbols-outlined"> dark_mode </span>
      </a></h1>
        <p>Kathmandu, Nepal -> Clemson, SC, USA</p>
      </div>

      {{ .Content }}

      <h1>Hi there, 👋 it's krishna</h1>
      <p class="intro">Researcher | Engineer | Programmer</p>

      <div class="social-links">
        <a class="dark-mode" href="https://github.com/kp-square"
          ><img class="link-logo" src="images/github-mark-white.png" alt=""
        /></a>
        <a class="light-mode" href="https://github.com/kp-square"
          ><img class="link-logo" src="images/github-mark.png" alt=""
        /></a>
        <a class="dark-mode" href="https://x.com/kp_square"
          ><img class="link-logo " src="images/logo-white.png" alt=""
        /></a>
        <a class="light-mode" href="https://x.com/kp_square"
          ><img class="link-logo" src="images/logo-black.png" alt=""
        /></a>
        <a href="https://linkedin.com/in/krishnapanthi"
          ><img class="link-logo" src="images/in-blue.png" alt=""
        /></a>
        <a href="mailto:krishnapd133@gmail.com"
          ><img class="link-logo" src="images/Gmail_Logo.png" alt=""
        /></a>
        <a href="https://www.youtube.com/@krishnapanthi7205"
          ><img class="link-logo" src="images/youtube-mark.png" alt=""
        /></a>
        <a href="https://instagram.com/kp_square"
          ><img class="link-logo" src="images/ig-icon.png" alt=""
        /></a>
      </div>

      <h2>💼 Experience</h2>
      <div class="experience-grid">
        <div class="experience-item">
          <a class="no-style" href="http://hydro-informatics-lab.com/"
            >Hydro Informatics Lab: Graduate Research Assistant at Clemson
            University. Working on Timeseries analysis, crop simulation and
            reinforcement learning with Assistant professor Dr. Vidya Samadi.</a
          >
        </div>
        <div class="experience-item">
          <a class="no-style" href="https://mutualart.com/"
            >MutualArt: Software Developer</a
          >
        </div>
        <div class="experience-item">
          <a class="no-style" href="https://clamphook.com/"
            >Clamphook: Backend Engineer (part time)</a
          >
        </div>
        <div class="experience-item">
          <a class="no-style" href="https://pensionpro.com"
            >PensionPro: Fullstack Developer</a
          >
        </div>
      </div>

      <h2>🎓 Education</h2>
      <div class="education-grid">
        <div class="education-item">
          <a
            class="no-style"
            href="https://en.wikipedia.org/wiki/Clemson_University"
            >Clemson University: M.S. in Computer Science</a
          >
        </div>
        <div class="education-item">
          <a
            class="no-style"
            href="https://en.wikipedia.org/wiki/Pulchowk_Campus"
            >Pulchowk Campus: B.E. in Computer Engineering</a
          >
        </div>
      </div>
    </div>

    <div class="main-col main-col-2">
      <h2>Documents</h2>
        <div class="resume-grid">
          <div class="document">
            <a class="no-style resume-link" href="/pdfs/Krishna_Panthi.pdf">Resume</a>
          </div>
          <div class="document">
            <a class="no-style resume-link" href="/pdfs/KrishnaPanthi_CV.pdf">Curriculum Vitae (CV)</a>
          </div>
        </div>

      <h2>Latest Projects</h2>
      {{ range first 3 (where .Site.RegularPages "Section" "projects") }}
      <article>
        <h5>
          <a class="no-style resume-link" href="{{ .RelPermalink }}">{{ .Title }}</a
          ><i><time>{{ .Date.Format "January 2, 2006" }}</time></i>
        </h5>
        {{ .Summary }}
      </article>
      {{ end }}

    </div>
    
  </div>
  <h2>Latest Essays</h2>
      {{ range first 3 (where .Site.RegularPages "Section" "essays") }}
      <article>
        <h5>
          <a class="no-style resume-link" href="{{ .RelPermalink }}">{{ .Title }}</a
          ><i><time>{{ .Date.Format "January 2, 2006" }}</time></i>
        </h5>

        {{ .Summary }}
      </article>
      {{ end }}

</div>
{{ end }}
